body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
    width: 100%;

}
#hero{
    margin-top: 20px;
}
nav a{
    text-decoration: none;
    color: white;
    top: 0;
    word-spacing: 15px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
}
nav ul{
    float: right;
}
nav{
    padding: 20px 25px;
    top: 0px;
}
#logo{
    font-size: 1.6rem;
    color: white;
}
span{
    color: hsl(326, 96%, 42%);
}
#hero{
    height: 80vh;
    width: 100%;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
    bottom: 30px;

}
#welcome-section{
    margin-top: 110px;
    margin-left: 20px;
    display:flex;
    justify-content: center;
}
#welcome-section h1{
    color: white;
    font-size: 2rem;
    font-weight: bold;
}#welcome-section p{
    color: #d2bfff;
    font-size: 1.2rem;
}
.role{
    font-weight: bold;
    color: white;
}
button{
    background:hsl(326, 96%, 42%);
    color: white;
    border-radius: 7px;
    border: none;
    height: 30px;
    width: 90px;
    padding-top: 5px;
    padding-bottom: 5px;
}
button:hover{
    background: white;
    border: 2px solid hsl(326, 96%, 42%);
    color: hsl(326, 96%, 42%)
}
#hire{
    color: red;
}
#amadi{
    border-radius: 50%;
    height: 190px;
    position: relative;
    right: 5px;

}
#aboutMe{
    background-color: #ecc7dd;
    height: auto;
    position: relative;
    bottom: 60px;

}
#aboutMe1{
    display: flex;
}
#aboutMe h1{
    text-align: center;
}
#aboutMeContent{
    width: 40%;
    margin-right: 30px;
    
}
#aboutMe img{
    height: 260px;
    border-radius: 10px;
    width: 65%;
    margin-left: 10px;
}
#projects{
    background-color: #434343;
}

